<div class="container-fluid">
    <h4 class="text-center">Add new Quote</h4>
  
    <form>
        <div class="inputs quoteArea">
          <label for="citation">New Quote</label>
          <textarea name="citation" id="citation" cols="30" rows="5" class="form-control" required></textarea>
          
        </div>
        <div class="inputs quoteAuthor">
          <label for="author">Author</label>
          <input type="text" name="author" id="author" class="form-control" required>
          
        </div>  
        <div class="inputs quoteSubmitor">
          <label for="name">Your Name</label>
          <input type="text" name="name" id="name" class="form-control" required>
          
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
