<div class="container-fluid">
  <h4 class="text-center">Add new Quote</h4>

  <form>
      <div class="inputs quoteArea">
        <label for="quote">New Quote</label>
        <textarea name="quote" id="quote" cols="30" rows="5"></textarea>
      </div>
      <div class="inputs quoteAuthor">
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
      </div>  
      <div class="inputs quoteSubmitor">
        <label for="submitor">Your Name</label>
        <input type="text" name="submitor" id="submitor">
      </div>
  </form>
</div>
