<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
  <div>
    <h1>Quotes</h1>
    <hr>
    <ul>
      <div *ngFor='let quote of quotes; let i = index'>
        <li>{{quote.citation}}</li>

        <div class="quoteAction">
          <p>By {{ quote.name}}</p>
          <div class="glyphicon glyphicon-thumbs-up"></div>
          <div class="glyphicon glyphicon-thumbs-down"></div>
        </div>
        
      </div>  
    </ul>
  </div>
</body>
</html>