ul{
    list-style-type: none;
}
.quoteStr p{
   text-align: right; 
   margin-top: 5px;
   font-style: italic;
}
body{
    background-color: lightslategrey;
}
.quoteContainer{
    background-color: #d3d3d3;
}
