<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Quotes</h1>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <div *ngFor='let quote of quotes; let i = index'>
            <li>{{quote.citation}}</li>
    
            <div class="quoteAction">
              <p>By {{ quote.name}}</p>
              <div class="glyph">
                <div class="glyphicon glyphicon-thumbs-up" (click)='incrementNumber(i)'></div>
                <p class="count">{{ likes }}</p>
              </div>
              <div class="glyph">
                <div class="glyphicon glyphicon-thumbs-down" (click)='decrementNumber(i)'></div>
                <p class="count">{{ dislikes }}</p>
              </div>
              <button>Delete</button> 
            </div>
            
          </div>  
        </ul>
      </div>

      <div class="col-sm-6">
        <app-form></app-form>
      </div>
    </div>
  </div>
</body>
</html>