<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Quotes</h1>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <div *ngFor='let quote of quotes; let i = index' class="quoteStr">
            <hr>
            <li>{{ quote.citation }}</li>
            <p>~ {{ quote.author }}</p>
            <button (click)='toggleDetails(i)'>Details</button>
            <app-details *ngIf='quote.showDetails' [quote]='quote' (deleteQ) = 'quotedel($event,i)'></app-details>
            
          </div>  
        </ul>
      </div>

      <div class="col-sm-6">
        <app-form></app-form>
      </div>
    </div>
  </div>
</body>
</html>