.quoteAction{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    color: aquamarine;
}

.glyph{
    display: inherit;
}
button{
    border: none;
    background-color: inherit;
}